
#addBus {
	float: left;
	width: 400px;
}
#addRoute {
	float: right;
	width: 400px;
}

.form-field {
	clear: both;
	padding: 10px;
	width: 350px;
}
.form-field label {
	float: left;
	width: 150px;
	text-align: right;
}
.form-field input {
	float: right;
	width: 150px;
	text-align: left;
}
#submit {
	text-align: center;
}
.form-field select{
	float: right;
	width: 150px;
}